{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
p {
    text-indent: 20px;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/blogPostInd.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/responsivo.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@400;500;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="container"> <!--INICIO CONTAINER-->
        <header><!--INICIO do header-->
            <div class="img_logo">
                <img class="clicar" src="{% static 'IMG/mani logo.png' %}" href="{% url 'home:index' %}" alt="Mani Cursos">
                <img class="linha_topo" src="{% static 'IMG/Line 2.svg' %}" alt="barra de navegação">
            <div class="menu_barra">
                    <div class="hamburger">
                        <div class="barra1"></div>
                        <div class="barra2"></div>
                        <div class="barra3"></div>
                    </div>
                    
                    <nav>
                        <ul>
                            <li><a href="{% url 'home:index' %}">HOME</a></li>
                            <li><a href="sobre">SOBRE</a></li>
                            <li><a href="cursos">CURSOS</a></li>
                            <li><a href="{% url 'blog:blog' %}">BLOG</a></li>
                            <li><a href="{% url 'contato:contato' %}">CONTATO</a></li>
                        </ul>
                    </nav>
                
            </div>
        </header>
    </div><!--FIM do header-->
    <script src="{% static 'JAVASCRIPT/navbar.js' %}"></script>


        <main class="home" id="home">
            <div class="informacoes">
                <img src="{{ post.foto_capa.url }}" alt="Capa do post" class="bordaRedonda" id="img1">
                <h1 class="titulo">{{post.titulo}}</h1>
                <h5 class="h5"> {{post.subtitulo}}</h5>

                <div class="logo">
                    <div class="contener">
                        <h4 id="titulo3">Por {{post.autor}} </h4>
                        <h4 id="titulo4"> {{post.data_publicacao}} </h4>
                    </div>

                    <img src="{% static 'IMG/Logo-Whatsap.jpeg' %}" alt="logo Logo-Whatsap" class="lg">
                    <img src="{% static 'IMG/facebook-logo.jpg' %}" alt="logo Logo-facebook" class="lg">
                    <img src="{% static 'IMG/logo_PNG49.png' %}" alt="logo Logo-compartilhar" class="lg">
                </div>

                <div class="paragrafos">
                    <div>
                        {{post.texto1|linebreaks}}
                    </div>
                    <div class="imagem">
                        <div class="texto">
                            {{post.texto2|linebreaks}}
                        </div>
                        <div class="foto">
                            <img src="{{post.foto_texto.url}}" alt="escrita no papel" class="bordaRedonda" id="img2">
                        </div>
                    </div>
                    <div>
                        {{post.texto3|linebreaks}}
                    </div>
                    </div>

                    
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-area">
                <img class="footer-logo" src="{% static 'IMG/mani logo.png' %}" alt="logo-footer"/>
                <div class="information-area">
                    <div class="contact-area">
                        <h6>Entre em contato</h6>
                        <p>contato@manicursos.com.br</p>
                        <p>+1-2345-6789</p>
                        <p>23 Cornelia St, NY 10014, EUA</p>
                        <a href=""><img src="{% static 'IMG/face.svg' %}" alt="footer-social"/></a>
                        <a href=""><img src="{% static 'IMG/linkedin.svg' %}" alt="footer-social"/></a>
                        <a href=""><img src="{% static 'IMG/twitter.svg' %}" alt="footer-social"/></a>
                        <a href=""><img src="{% static 'IMG/insta.svg' %}" alt="footer-social"/></a>
                            
                        
                    </div>
                    <div class="contact-area">
                        <h6>FAQ</h6>
                        <p>Auctor volutpat.</p>
                        <p>Fermentum turpis.</p>
                        <p>Mi consequat.</p>
                        <p>Amet venenatis.</p>
                        <p>Convallis porttitor.</p>
                    </div>
                    <div class="contact-area">
                        <h6>Central de Ajuda</h6>
                        <p>Egestas vitae.</p>
                        <p>Viverra lorem ac.</p>
                        <p>Eget ac tellus.</p>
                        <p>Erat nulla.</p>
                        <p>Vulputate proin.</p>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>