<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../CSS/navbar.css">
    <link rel="stylesheet" href="../CSS/blog.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    
    <div id="wrapper">
        <header class="navbar">
            <div class="navbar-esquerda">
                <a href="" class="logo-mani-cursos"><img src="../IMG/mani logo.png" alt="botão-logo-mani-cursos"></a>
                <img class="linha-divisoria" src="../IMG/Line 2.svg" alt="linha-divisoria">
            </div>
            <div class="navbar-direita">
                <div class="ancoras-navbar">
                    <a href="" class="ancora-navbar">HOME</a>
                    <a href="" class="ancora-navbar">SOBRE</a>
                    <a href="" class="ancora-navbar">CURSOS</a>
                    <a href="" class="ancora-navbar">BLOG</a>
                    <a href="" class="ancora-navbar">CONTATO</a>
                </div>
            </div>
        </header>
        <main>
            <div class="last-news">
                <h1>Últimas notícias</h1>
                <p>Est recusandae fugit qui quia voluptas ut ratione
                    iusto aut accusamus voluptatem.</p>
            </div> 
            <div class="search-bar">
                <input type="text" placeholder="Buscar curso"/>
                <img src="../IMG/lupa.svg" alt="imagem-lupa"/>
            </div>
            <div class="course-area">
                <div class="course">
                    <a class="link-area" href="">
                        <img class="course-img" src="../IMG/image1.png" alt="course-image"/>
                        <h3>Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
                        <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad repudiandae autem et magni officiis aut facere tempore nam eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                        <div class="date-more">
                            <span><img src="../IMG/heart.svg"/>10 de Outubro de 2023</span>
                            <a class="read-more" href="">LEIA MAIS</a>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a class="link-area" href="">
                        <img class="course-img" src="../IMG/image2.png" alt="course-image"/>
                        <h3>Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
                        <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad repudiandae autem et magni officiis aut facere tempore nam eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                        <div class="date-more">
                            <span><img src="../IMG/heart.svg"/>10 de Outubro de 2023</span>
                            <a class="read-more" href="">LEIA MAIS</a>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a class="link-area" href="">
                        <img class="course-img" src="../IMG/image3.png" alt="course-image"/>
                        <h3>Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
                        <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad repudiandae autem et magni officiis aut facere tempore nam eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                        <div class="date-more">
                            <span><img src="../IMG/heart.svg"/>10 de Outubro de 2023</span>
                            <a class="read-more" href="">LEIA MAIS</a>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a class="link-area" href="">
                        <img class="course-img" src="../IMG/image4.png" alt="course-image"/>
                        <h3>Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
                        <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad repudiandae autem et magni officiis aut facere tempore nam eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                        <div class="date-more">
                            <span><img src="../IMG/heart.svg"/>10 de Outubro de 2023</span>
                            <a class="read-more" href="">LEIA MAIS</a>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a class="link-area" href="">
                        <img class="course-img" src="../IMG/image5.png" alt="course-image"/>
                        <h3>Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
                        <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad repudiandae autem et magni officiis aut facere tempore nam eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                        <div class="date-more">
                            <span><img src="../IMG/heart.svg"/>10 de Outubro de 2023</span>
                            <a class="read-more" href="">LEIA MAIS</a>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a class="link-area" href="">
                        <img class="course-img" src="../IMG/image6.png" alt="course-image"/>
                        <h3>Transforme sua Carreira: Descubra os Cursos Online Mais Procurados do...</h3>
                        <p>Lorem ipsum dolor sit amet. Et voluptatem consectetur ad repudiandae autem et magni officiis aut facere tempore nam eligendi quod ut voluptatem iure ut voluptas eveniet.’</p>
                        <div class="date-more">
                            <span><img class="heart-img" src="../IMG/heart.svg"/>10 de Outubro de 2023</span>
                            <a class="read-more" href="">LEIA MAIS</a>
                        </div>
                    </a>
                </div>   
            </div>
            <a class="search-more" href="">Carregar mais</a>
        </main>
    </div>
    <footer>
        <div class="footer-area">
            <img class="footer-logo" src="../IMG/mani logopsd cópia 2 (1).png" alt="logo-footer"/>
            <div class="information-area">
                <div class="contact-area">
                    <h6>Entre em contato</h6>
                    <p>contato@manicursos.com.br</p>
                    <p>+1-2345-6789</p>
                    <p>23 Cornelia St, NY 10014, EUA</p>
                    <a href=""><img src="../IMG/face.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/linkedin.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/twitter.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/insta.svg" alt="footer-social"/></a>
                        
                    
                </div>
                <div class="contact-area">
                    <h6>FAQ</h6>
                    <p>Auctor volutpat.</p>
                    <p>Fermentum turpis.</p>
                    <p>Mi consequat.</p>
                    <p>Amet venenatis.</p>
                    <p>Convallis porttitor.</p>
                </div>
                <div class="contact-area">
                    <h6>Central de Ajuda</h6>
                    <p>Egestas vitae.</p>
                    <p>Viverra lorem ac.</p>
                    <p>Eget ac tellus.</p>
                    <p>Erat nulla.</p>
                    <p>Vulputate proin.</p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>