{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheeat">
    <link rel="stylesheet" href="{% static 'CSS/contato.css' %}"/>
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <title>Contato</title>
</head>
<body>
    <div class="container"> <!--INICIO CONTAINER-->
        <header><!--INICIO do header-->
            <div class="img_logo">
                <img class="clicar" src="{% static 'IMG/mani logo.png' %}" href="{% url 'home:index' %}" alt="Mani Cursos">
                <img class="linha_topo" src="{% static 'IMG/Line 2.svg' %}" alt="barra de navegação">
            <div class="menu_barra">
                    <div class="hamburger">
                        <div class="barra1"></div>
                        <div class="barra2"></div>
                        <div class="barra3"></div>
                    </div>
                    
                    <nav>
                        <ul>
                        <li><a href="{% url 'home:index' %}">HOME</a></li>
                        <li><a href="{% url 'sobre:sobre' %}">SOBRE</a></li>
                        <li><a href="{% url 'cursos:cursos' %}">CURSOS</a></li>
                        <li><a href="{% url 'blog:blog' %}">BLOG</a></li>
                        <li><a href="{% url 'contato:contato' %}">CONTATO</a></li>
                        </ul>
                    </nav>
                
            </div>
        </header>
    </div><!--FIM do header-->
    <script src="{% static 'JAVASCRIPT/navbar.js' %}"></script>
    
    {% if mensagemsalva %}
        <script>alert("Mensagem enviada com sucesso!")</script>
    {% endif %}
        
        <main>
            <div class="fale-conosco">
                <h1>Fale conosco</h1>
                <p>
                    Lorem ipsum dolor
                    sit amet. Rem itaque 
                    sequi et commodi illo 
                    et autem beatae sit 
                    quis cumque quo fugiat 
                    veniam.
                </p>
                <form method="POST" action="{% url 'contato:contato' %}"> {% csrf_token %}
                    <select id="opcoes" name="assunto">
                        <option value="a">Ajuda</option>
                        <option value="e">Elogio</option>
                        <option value="s">Sugestão</option> 
                    </select>

                    <span>
                        <input class="name-form" type="text" name="nome" placeholder="Nome" required/>
                        <input class="email-form" type="email" name="email" placeholder="Email" required/>
                    </span>
                    <input class="mensagem-form" type="text" name="mensagem" placeholder="Mensagem" required/>
                    <input type="submit" placeholder="Enviar"/>

                </form>
            </div>
            <div class="map-area">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.38228154625!2d-74.00482822428826!3d40.73161303641519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25993bf2d3301%3A0xdac8491f98dc8e76!2s23%20Cornelia%20St%2C%20New%20York%2C%20NY%2010014%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1711840672406!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>23 Cornelia St, New York, NY 10014, Estados Unidos</p>
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-area">
            <img class="footer-logo" src="{% static 'IMG/mani logo.png' %}" alt="logo-footer"/>
            <div class="information-area">
                <div class="contact-area">
                    <h6>Entre em contato</h6>
                    <p>contato@manicursos.com.br</p>
                    <p>+1-2345-6789</p>
                    <p>23 Cornelia St, NY 10014, EUA</p>
                    <a href=""><img src="{% static 'IMG/face.svg' %}" alt="footer-social"/></a>
                    <a href=""><img src="{% static 'IMG/linkedin.svg' %}" alt="footer-social"/></a>
                    <a href=""><img src="{% static 'IMG/twitter.svg' %}" alt="footer-social"/></a>
                    <a href=""><img src="{% static 'IMG/insta.svg' %}" alt="footer-social"/></a>
                        
                    
                </div>
                <div class="contact-area">
                    <h6>FAQ</h6>
                    <p>Auctor volutpat.</p>
                    <p>Fermentum turpis.</p>
                    <p>Mi consequat.</p>
                    <p>Amet venenatis.</p>
                    <p>Convallis porttitor.</p>
                </div>
                <div class="contact-area">
                    <h6>Central de Ajuda</h6>
                    <p>Egestas vitae.</p>
                    <p>Viverra lorem ac.</p>
                    <p>Eget ac tellus.</p>
                    <p>Erat nulla.</p>
                    <p>Vulputate proin.</p>
                </div>
            </div>
        </div>
    </footer>
    

    
        
</body>
</html>