<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheeat">
    <link rel="stylesheet" href="../CSS/contato.css"/>
    <link rel="stylesheet" href="../CSS/footer.css"/>
    <link rel="stylesheet" href="../CSS/navbar.css"/>
    <title>Contato</title>
</head>
<body>
    <div class="container"> <!--INICIO CONTAINER-->
        <header><!--INICIO do header-->
            <div class="img_logo">
                <img class="clicar" src="../IMG/mani logopsd cópia 2 (1).png" alt="Mani Cursos">
                <img class="linha_topo" src="../IMG/Line 2.svg" alt="barra de navegação">
            <div class="menu_barra">
                    <div class="hamburger">
                        <div class="barra1"></div>
                        <div class="barra2"></div>
                        <div class="barra3"></div>
                    </div>
                    
                    <nav>
                        <ul>
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="">SOBRE</a></li>
                            <li><a href="">CURSOS</a></li>
                            <li><a href="">BLOG</a></li>
                            <li><a href="">CONTATO</a></li>
                        </ul>
                    </nav>
                
            </div>
        </header>
    </div><!--FIM do header-->
        <script src="../JAVASCRIPT/navbar.js">

        </script>
        
        <main>
            <div class="fale-conosco">
                <h1>Fale conosco</h1>
                <p>
                    Lorem ipsum dolor
                    sit amet. Rem itaque 
                    sequi et commodi illo 
                    et autem beatae sit 
                    quis cumque quo fugiat 
                    veniam.
                </p>
                <form method="post">
                    <input class="assunto-form" type="text" placeholder="Assunto" required/>
                    <span>
                        <input type="text" placeholder="Nome" required/>
                        <input type="email" placeholder="Email" required/>
                    </span>
                    <input class="mensagem-form" type="text" placeholder="Mensagem"/>
                    <input type="submit" placeholder="Enviar"/>

                </form>
            </div>
            <div class="map-area">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.38228154625!2d-74.00482822428826!3d40.73161303641519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25993bf2d3301%3A0xdac8491f98dc8e76!2s23%20Cornelia%20St%2C%20New%20York%2C%20NY%2010014%2C%20EUA!5e0!3m2!1spt-BR!2sbr!4v1711840672406!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>23 Cornelia St, New York, NY 10014, Estados Unidos</p>
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-area">
            <img class="footer-logo" src="../IMG/mani logopsd cópia 2 (1).png" alt="logo-footer"/>
            <div class="information-area">
                <div class="contact-area">
                    <h6>Entre em contato</h6>
                    <p>contato@manicursos.com.br</p>
                    <p>+1-2345-6789</p>
                    <p>23 Cornelia St, NY 10014, EUA</p>
                    <a href=""><img src="../IMG/face.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/linkedin.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/twitter.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/insta.svg" alt="footer-social"/></a>
                        
                    
                </div>
                <div class="contact-area">
                    <h6>FAQ</h6>
                    <p>Auctor volutpat.</p>
                    <p>Fermentum turpis.</p>
                    <p>Mi consequat.</p>
                    <p>Amet venenatis.</p>
                    <p>Convallis porttitor.</p>
                </div>
                <div class="contact-area">
                    <h6>Central de Ajuda</h6>
                    <p>Egestas vitae.</p>
                    <p>Viverra lorem ac.</p>
                    <p>Eget ac tellus.</p>
                    <p>Erat nulla.</p>
                    <p>Vulputate proin.</p>
                </div>
            </div>
       
    </footer>
    

    
        
</body>
</html>