<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/footer.css"/>
    <title>footer</title>
</head>
<body>
    <footer>
        <div class="footer-area">
            <img class="footer-logo" src="../IMG/mani logopsd cópia 2 (1).png" alt="logo-footer"/>
            <div class="information-area">
                <div class="contact-area">
                    <h6>Entre em contato</h6>
                    <p>contato@manicursos.com.br</p>
                    <p>+1-2345-6789</p>
                    <p>23 Cornelia St, NY 10014, EUA</p>
                    <a href=""><img src="../IMG/face.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/linkedin.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/twitter.svg" alt="footer-social"/></a>
                    <a href=""><img src="../IMG/insta.svg" alt="footer-social"/></a>
                        
                    
                </div>
                <div class="contact-area">
                    <h6>FAQ</h6>
                    <p>Auctor volutpat.</p>
                    <p>Fermentum turpis.</p>
                    <p>Mi consequat.</p>
                    <p>Amet venenatis.</p>
                    <p>Convallis porttitor.</p>
                </div>
                <div class="contact-area">
                    <h6>Central de Ajuda</h6>
                    <p>Egestas vitae.</p>
                    <p>Viverra lorem ac.</p>
                    <p>Eget ac tellus.</p>
                    <p>Erat nulla.</p>
                    <p>Vulputate proin.</p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>