{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/headline.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/fotos_esquerda.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/cursos_populares.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <div class="navbar-esquerda">
            <a href="" class="logo-mani-cursos"><img src="{% static 'IMG/mani logopsd cópia 2.png' %}" alt="botão-logo-mani-cursos"></a>
            <img class="linha-divisoria" src="{% static 'IMG/Line 2.svg' %}" alt="linha-divisoria">
        </div>
        <div class="navbar-direita">
            <div class="botões-navbar">
                <li><a href="">HOME</a></li>
                <li><a href="sobre">SOBRE</a></li>
                <li><a href="cursos">CURSOS</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="contato">CONTATO</a></li>
            </div>
        </div>
    </div>
</body>
</html>