<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../CSS/navbar.css">
    <link rel="stylesheet" href="../CSS/headline.css">
    <link rel="stylesheet" href="../CSS/fotos_esquerda.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container"> <!--INICIO CONTAINER-->
        <header><!--INICIO do header-->
            <div class="img_logo">
                <img class="clicar" src="../IMG/mani logopsd cópia 2.png" alt="Mani Cursos">
                <img class="linha_topo" src="../IMG/Line 2.svg" alt="barra de navegação">
            <div class="menu_barra">
                    <div class="hamburger">
                        <div class="barra1"></div>
                        <div class="barra2"></div>
                        <div class="barra3"></div>
                    </div>
                    
                    <nav>
                        <ul>
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="">SOBRE</a></li>
                            <li><a href="">CURSOS</a></li>
                            <li><a href="">BLOG</a></li>
                            <li><a href="">CONTATO</a></li>
                        </ul>
                    </nav>
                
            </div>
        </header><!--FIM do header-->
        <script src="../JAVASCRIPT/navbar.js">

        </script>
    </body>