<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/sobre.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
   <div id="wrapper">
    <header class="navbar">
        <div class="navbar-esquerda">
            <a href="" class="logo-mani-cursos"><img src="{% static 'IMG/mani logo.png' %}" alt="botão-logo-mani-cursos"></a>
            <img class="linha-divisoria" src="{% static 'IMG/Line 2.svg' %}" alt="linha-divisoria">
        </div>
        <div class="navbar-direita">
            <div class="ancoras-navbar">
                <a href="" class="ancora-navbar">HOME</a>
                <a href="" class="ancora-navbar">SOBRE</a>
                <a href="" class="ancora-navbar">CURSOS</a>
                <a href="" class="ancora-navbar">BLOG</a>
                <a href="" class="ancora-navbar">CONTATO</a>
            </div>
        </div>
    </header>
    
    <main>
        <section id="secoes-lado-a-lado">
            <section class="secao-lado-a-lado">
                <img src="{% static 'IMG/Rectangle 19.png' %}" alt="pessoas a mesa">

                <div>
                    <h1>Nossa <span>História</span></h1>    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                </div>
            </section>
    
            <section class="secao-lado-a-lado">
                <div>
                    <h1>Nossos <span>Valores</span></h1>    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                </div>

                <img src="{% static 'IMG/foto 01.png' %}" alt="reunião de pessoas">
            </section>
        </section>

        <section id="secao-melhores-professores">
            <div>
                <h1><span>Os melhores</span> professores do mercado</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, est felis, sagittis viverra nulla mattis scelerisque. Eget cras integer.</p>
                <button>
                    <span>nossa equipe</span>
                    <img src="{% static 'IMG/Right arrow.png " alt="seta para direita">
                </button>
            </div>
        </section>
        
        <section>
            <div>
                <h1></h1>
                <p></p>
            </div>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </section>
    </main>

    <footer></footer>
   </div>
</body>
</html>