* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    padding-left: 71px;
    padding-right: 71px;
    
}
 /*
#wrapper {
    max-width: 1440px;
    margin: 0 auto; 
}
*/
.navbar{
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: #FFFFFF;
    height: 100px;
    margin-bottom:60px;
}

.linha-divisoria{
    margin-left: 20px;
}

.logo-mani-cursos{
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
}


.ancora-navbar {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    font-family: Montserrat;
    letter-spacing: 0.075em;
    text-decoration: none;
    color: #262626;
}